.mediaViewInfo {
  --web-view-name: Live Space / Hosting;
  --web-view-id: Live_Space__Hosting;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Live_Space__Hosting;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Live_Space__Hosting {
  position: absolute;
  width: 1920px;
  height: 3732px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: Live Space / Hosting;
  --web-view-id: Live_Space__Hosting;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Rectangle_1_gv {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_1_gv {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 128px;
  left: 0px;
  top: 0px;
}
#Rectangle_2_gw {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_2_gw {
  position: absolute;
  overflow: visible;
  width: 1208px;
  height: 80px;
  left: 408px;
  top: 26px;
}
#amueso-v2_gx {
  position: absolute;
  width: 170px;
  height: 64px;
  left: 80px;
  top: 33px;
  overflow: visible;
}
#profile-user_gy {
  position: absolute;
  width: 48px;
  height: 47.998px;
  left: 1792px;
  top: 41px;
  overflow: visible;
}
#Path_4_gz {
  fill: rgba(118, 118, 118, 1);
}
.Path_4_gz {
  overflow: visible;
  position: absolute;
  width: 48px;
  height: 47.998px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_99_g {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_99_g {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 1728px;
  top: 41px;
}
#Rectangle_100_g {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_100_g {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 1664px;
  top: 41px;
}
#Browse_g {
  left: 266px;
  top: 51px;
  position: absolute;
  overflow: visible;
  width: 95px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Rectangle_3_g {
  fill: rgba(189, 189, 189, 1);
}
.Rectangle_3_g {
  position: absolute;
  overflow: visible;
  width: 1760px;
  height: 990px;
  left: 80px;
  top: 160px;
}
#Rectangle_118 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_118 {
  filter: drop-shadow(0px 4px 48px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 869px;
  height: 1104px;
  left: 1115px;
  top: 1214px;
}
#Lorem_ipsum_dolor_sit_amet {
  left: 80px;
  top: 1214px;
  position: absolute;
  overflow: visible;
  width: 696px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: rgba(56, 56, 56, 1);
}
#About_this_space {
  left: 80px;
  top: 1406px;
  position: absolute;
  overflow: visible;
  width: 283px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#Lorem_ipsum_dolor_sit_amet_con_g {
  left: 80px;
  top: 1469px;
  position: absolute;
  overflow: visible;
  width: 964px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(174, 174, 174, 1);
}
#Sed_ut_perspiciatis_unde_omnis {
  left: 80px;
  top: 1691px;
  position: absolute;
  overflow: visible;
  width: 965px;
  height: 241px;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(174, 174, 174, 1);
}
#Ut_enim_ad_minima_veniam_quis_ {
  left: 79px;
  top: 1980px;
  position: absolute;
  overflow: visible;
  width: 965px;
  height: 131px;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(174, 174, 174, 1);
}
#n_5_mins____Hosted_in_English_ {
  left: 80px;
  top: 1280px;
  position: absolute;
  overflow: visible;
  width: 460px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Ellipse_5 {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_5 {
  position: absolute;
  overflow: visible;
  width: 96px;
  height: 96px;
  left: 955px;
  top: 1214px;
}
#Line_1 {
  fill: transparent;
  stroke: rgba(234, 234, 234, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_1 {
  overflow: visible;
  position: absolute;
  width: 971px;
  height: 1px;
  left: 80.5px;
  top: 1342.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_2 {
  fill: transparent;
  stroke: rgba(234, 234, 234, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_2 {
  overflow: visible;
  position: absolute;
  width: 971px;
  height: 1px;
  left: 80.5px;
  top: 2175px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Other_stories_you_may_like {
  left: 80px;
  top: 2923px;
  position: absolute;
  overflow: visible;
  width: 659px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: rgba(56, 56, 56, 1);
}
#IMG_20210311_140741_hf {
  fill: rgba(245, 245, 245, 1);
}
.IMG_20210311_140741_hf {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 81px;
  top: 2997px;
}
#WhatsApp_Image_2021-03-11_at_2_hg {
  fill: rgba(245, 245, 245, 1);
}
.WhatsApp_Image_2021-03-11_at_2_hg {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 440px;
  top: 2997px;
}
#IMG_20210311_133507_hh {
  fill: rgba(245, 245, 245, 1);
}
.IMG_20210311_133507_hh {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 799px;
  top: 2997px;
}
#Rectangle_125 {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_125 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1158px;
  top: 2997px;
}
#Rectangle_126 {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_126 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1517px;
  top: 2997px;
}
#User_Feedback {
  position: absolute;
  width: 1737px;
  height: 540px;
  left: 80px;
  top: 2255px;
  overflow: visible;
}
#See_what_people_are_saying {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 693px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: rgba(56, 56, 56, 1);
}
#Group_23 {
  position: absolute;
  width: 541px;
  height: 201px;
  left: 0px;
  top: 74px;
  overflow: visible;
}
#Ellipse_12 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_12 {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 1px;
}
#User_Name {
  left: 64px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 140px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Feedback_Date {
  left: 64px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 124px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(189, 189, 189, 1);
}
#Sed_ut_perspiciatis_unde_omnis_hq {
  left: 0px;
  top: 81px;
  position: absolute;
  overflow: visible;
  width: 542px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(189, 189, 189, 1);
}
#Group_24 {
  position: absolute;
  width: 541px;
  height: 201px;
  left: 600px;
  top: 74px;
  overflow: visible;
}
#Ellipse_13 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_13 {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 1px;
}
#User_Name_ht {
  left: 64px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 140px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Feedback_Date_hu {
  left: 64px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 124px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(189, 189, 189, 1);
}
#Sed_ut_perspiciatis_unde_omnis_hv {
  left: 0px;
  top: 81px;
  position: absolute;
  overflow: visible;
  width: 542px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(189, 189, 189, 1);
}
#Group_22 {
  position: absolute;
  width: 541px;
  height: 201px;
  left: 1196px;
  top: 74px;
  overflow: visible;
}
#Ellipse_14 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_14 {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 1px;
}
#User_Name_hy {
  left: 64px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 140px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Feedback_Date_hz {
  left: 64px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 124px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(189, 189, 189, 1);
}
#Sed_ut_perspiciatis_unde_omnis_h {
  left: 0px;
  top: 81px;
  position: absolute;
  overflow: visible;
  width: 542px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(189, 189, 189, 1);
}
#Group_25 {
  position: absolute;
  width: 541px;
  height: 201px;
  left: 0px;
  top: 339px;
  overflow: visible;
}
#Ellipse_15 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_15 {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 1px;
}
#User_Name_h {
  left: 64px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 140px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Feedback_Date_h {
  left: 64px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 124px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(189, 189, 189, 1);
}
#Sed_ut_perspiciatis_unde_omnis_ia {
  left: 0px;
  top: 81px;
  position: absolute;
  overflow: visible;
  width: 542px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(189, 189, 189, 1);
}
#Group_26 {
  position: absolute;
  width: 541px;
  height: 201px;
  left: 596px;
  top: 339px;
  overflow: visible;
}
#Ellipse_16 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_16 {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 1px;
}
#User_Name_ia {
  left: 64px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 140px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Feedback_Date_ia {
  left: 64px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 124px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(189, 189, 189, 1);
}
#Sed_ut_perspiciatis_unde_omnis_ib {
  left: 0px;
  top: 81px;
  position: absolute;
  overflow: visible;
  width: 542px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(189, 189, 189, 1);
}
#Group_27 {
  position: absolute;
  width: 541px;
  height: 201px;
  left: 1192px;
  top: 339px;
  overflow: visible;
}
#Ellipse_17 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_17 {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 1px;
}
#User_Name_id {
  left: 64px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 140px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Feedback_Date_ie {
  left: 64px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 124px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(189, 189, 189, 1);
}
#Sed_ut_perspiciatis_unde_omnis_if {
  left: 0px;
  top: 81px;
  position: absolute;
  overflow: visible;
  width: 542px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(189, 189, 189, 1);
}
