.mediaViewInfo {
  --web-view-name: Main page;
  --web-view-id: Main_page;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Main_page;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Main_page {
  position: absolute;
  width: 1920px;
  height: 3371px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: Main page;
  --web-view-id: Main_page;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#Rectangle_1 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_1 {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 128px;
  left: 0px;
  top: 0px;
}
#Rectangle_2 {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_2 {
  position: absolute;
  overflow: visible;
  width: 1208px;
  height: 80px;
  left: 408px;
  top: 26px;
}
#Welcome_back_Rehman {
  left: 81px;
  top: 192px;
  position: absolute;
  overflow: visible;
  width: 614px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: rgba(56, 56, 56, 1);
}
#Scroll_Group_1 {
  mix-blend-mode: normal;
  position: absolute;
  width: 1920px;
  height: 421px;
  left: 0px;
  top: 266px;
  overflow: hidden;
}
#Group_1 {
  position: absolute;
  width: 2524px;
  height: 421px;
  left: 80px;
  top: 0px;
  overflow: visible;
}
#n_8465 {
  fill: rgba(245, 245, 245, 1);
}
.n_8465 {
  position: absolute;
  overflow: visible;
  width: 820px;
  height: 384px;
  left: 0px;
  top: 0px;
}
#Artwork-2 {
  fill: rgba(245, 245, 245, 1);
}
.Artwork-2 {
  position: absolute;
  overflow: visible;
  width: 820px;
  height: 384px;
  left: 852px;
  top: 0px;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Storytime___Jessica_Wright.html;
  cursor: pointer;
}
#Rectangle_5 {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_5 {
  position: absolute;
  overflow: visible;
  width: 820px;
  height: 384px;
  left: 1704px;
  top: 0px;
}
#Planning_for_a_picnic_Weve_got {
  left: 0px;
  top: 392px;
  position: absolute;
  overflow: visible;
  width: 567px;
  white-space: nowrap;
  line-height: 32px;
  margin-top: -4px;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#The_story_time_with_Jessica_Wr {
  left: 852px;
  top: 392px;
  position: absolute;
  overflow: visible;
  width: 438px;
  white-space: nowrap;
  line-height: 32px;
  margin-top: -4px;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Listen_and_scream {
  left: 1704px;
  top: 392px;
  position: absolute;
  overflow: visible;
  width: 250px;
  white-space: nowrap;
  line-height: 32px;
  margin-top: -4px;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Rectangle_6 {
  opacity: 0;
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_6 {
  position: absolute;
  overflow: visible;
  width: 80px;
  height: 199px;
  left: 2604px;
  top: 111px;
}
#Top_picks_for_you {
  left: 80px;
  top: 815px;
  position: absolute;
  overflow: visible;
  width: 428px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: rgba(56, 56, 56, 1);
}
#See_whats_happening_around_you {
  left: 81px;
  top: 1531px;
  position: absolute;
  overflow: visible;
  width: 859px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: rgba(56, 56, 56, 1);
}
#Based_on_what_you_read {
  left: 81px;
  top: 2629px;
  position: absolute;
  overflow: visible;
  width: 609px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: rgba(56, 56, 56, 1);
}
#IMG_20210311_140741 {
  fill: rgba(245, 245, 245, 1);
}
.IMG_20210311_140741 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 81px;
  top: 889px;
}
#IMG_20210311_140741_ {
  fill: rgba(245, 245, 245, 1);
}
.IMG_20210311_140741_ {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 81px;
  top: 2703px;
}
#WhatsApp_Image_2021-03-11_at_2 {
  fill: rgba(245, 245, 245, 1);
}
.WhatsApp_Image_2021-03-11_at_2 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 433px;
  top: 889px;
}
#WhatsApp_Image_2021-03-11_at_2_ {
  fill: rgba(245, 245, 245, 1);
}
.WhatsApp_Image_2021-03-11_at_2_ {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 433px;
  top: 2703px;
}
#IMG_20210311_133507 {
  fill: rgba(245, 245, 245, 1);
}
.IMG_20210311_133507 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 785px;
  top: 889px;
}
#IMG_20210311_133507_ {
  fill: rgba(245, 245, 245, 1);
}
.IMG_20210311_133507_ {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 785px;
  top: 2703px;
}
#Rectangle_7 {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_7 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1137px;
  top: 889px;
}
#Rectangle_105 {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_105 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1137px;
  top: 2703px;
}
#Rectangle_8 {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_8 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1489px;
  top: 889px;
}
#Rectangle_106 {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_106 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1489px;
  top: 2703px;
}
#Rectangle_19 {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_19 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1841px;
  top: 889px;
}
#Rectangle_107 {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_107 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1841px;
  top: 2703px;
}
#Pilo_the_pilot {
  left: 81px;
  top: 1345px;
  position: absolute;
  overflow: visible;
  width: 162px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Pilo_the_pilot_bf {
  left: 81px;
  top: 3159px;
  position: absolute;
  overflow: visible;
  width: 162px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Mr_D_and_his_wrangler {
  left: 433px;
  top: 1345px;
  position: absolute;
  overflow: visible;
  width: 291px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Mr_D_and_his_wrangler_bh {
  left: 433px;
  top: 3159px;
  position: absolute;
  overflow: visible;
  width: 291px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Justin_and_his_love__for_mount {
  left: 785px;
  top: 1345px;
  position: absolute;
  overflow: visible;
  width: 241px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Justin_and_his_love__for_mount_bj {
  left: 785px;
  top: 3159px;
  position: absolute;
  overflow: visible;
  width: 241px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#The_hoodie_girl {
  left: 1137px;
  top: 1345px;
  position: absolute;
  overflow: visible;
  width: 190px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#The_hoodie_girl_bl {
  left: 1137px;
  top: 3159px;
  position: absolute;
  overflow: visible;
  width: 190px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Workholic_wifey {
  left: 1489px;
  top: 1345px;
  position: absolute;
  overflow: visible;
  width: 206px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Workholic_wifey_bn {
  left: 1489px;
  top: 3159px;
  position: absolute;
  overflow: visible;
  width: 206px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Jessica_the {
  left: 1841px;
  top: 1345px;
  position: absolute;
  overflow: visible;
  width: 140px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Jessica_the_bp {
  left: 1841px;
  top: 3159px;
  position: absolute;
  overflow: visible;
  width: 140px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Group_6 {
  position: absolute;
  width: 1760px;
  height: 512px;
  left: 81px;
  top: 1989px;
  overflow: visible;
}
#Mask_Group_1 {
  position: absolute;
  width: 1760px;
  height: 512px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Your_words_are_worth_sharing {
  left: 64px;
  top: 48px;
  position: absolute;
  overflow: visible;
  width: 634px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  color: rgba(255, 255, 255, 1);
}
#Introducing_contributions_-_no {
  left: 64px;
  top: 202px;
  position: absolute;
  overflow: visible;
  width: 718px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: rgba(255, 255, 255, 1);
}
#Rectangle_16 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_16 {
  position: absolute;
  overflow: visible;
  width: 367px;
  height: 80px;
  left: 64px;
  top: 384px;
}
#Become_a_contributor {
  left: 112px;
  top: 410px;
  position: absolute;
  overflow: visible;
  width: 272px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#amueso-v2 {
  position: absolute;
  width: 170px;
  height: 64px;
  left: 80px;
  top: 33px;
  overflow: visible;
}
#profile-user {
  position: absolute;
  width: 48px;
  height: 47.998px;
  left: 1792px;
  top: 41px;
  overflow: visible;
}
#Path_4 {
  fill: rgba(118, 118, 118, 1);
}
.Path_4 {
  overflow: visible;
  position: absolute;
  width: 48px;
  height: 47.998px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_99 {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_99 {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 1728px;
  top: 41px;
}
#Rectangle_100 {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_100 {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 1664px;
  top: 41px;
}
#Browse {
  left: 266px;
  top: 51px;
  position: absolute;
  overflow: visible;
  width: 95px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Group_7 {
  position: absolute;
  width: 515px;
  height: 320px;
  left: 81px;
  top: 1605px;
  overflow: visible;
}
#Rectangle_101 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(234, 234, 234, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_101 {
  position: absolute;
  overflow: visible;
  width: 512px;
  height: 320px;
  left: 0px;
  top: 0px;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Spaces___Groups.html;
  cursor: pointer;
}
#Repeat_Grid_1 {
  position: absolute;
  width: 148px;
  height: 48px;
  left: 24px;
  top: 24px;
  overflow: hidden;
}
#Group {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Ellipse_10 {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10 {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 0px;
}
#Group_b {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 32px;
  top: 0px;
  overflow: visible;
}
#Ellipse_10_b {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_b {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 0px;
}
#Group_ca {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 64px;
  top: 0px;
  overflow: visible;
}
#Ellipse_10_ca {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_ca {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 0px;
}
#Group_cb {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 96px;
  top: 0px;
  overflow: visible;
}
#Ellipse_10_cc {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_cc {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 0px;
}
#More_Icon {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 451px;
  top: 9px;
  overflow: visible;
}
#Ellipse_9 {
  opacity: 0;
  filter: blur(30px);
  fill: rgba(255, 255, 255, 1);
}
.Ellipse_9 {
  position: absolute;
  overflow: visible;
  width: 64px;
  height: 64px;
  left: 0px;
  top: 0px;
}
#Mask_Group_5 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 16px;
  top: 16px;
  overflow: visible;
}
#Group_Name {
  left: 24px;
  top: 162px;
  position: absolute;
  overflow: visible;
  width: 213px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#Lorem_ipsum_dolor_sit_amet_con {
  left: 24px;
  top: 209px;
  position: absolute;
  overflow: visible;
  width: 431px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(118, 118, 118, 1);
}
#Group_8 {
  position: absolute;
  width: 515px;
  height: 320px;
  left: 628px;
  top: 1605px;
  overflow: visible;
}
#Rectangle_101_cj {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(234, 234, 234, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_101_cj {
  position: absolute;
  overflow: visible;
  width: 512px;
  height: 320px;
  left: 0px;
  top: 0px;
}
#Ellipse_10_ck {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_ck {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 24px;
}
#Ellipse_10_cl {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_cl {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 56px;
  top: 24px;
}
#Ellipse_10_cm {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_cm {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 88px;
  top: 24px;
}
#More_Icon_cn {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 451px;
  top: 9px;
  overflow: visible;
}
#Ellipse_9_co {
  opacity: 0;
  filter: blur(30px);
  fill: rgba(255, 255, 255, 1);
}
.Ellipse_9_co {
  position: absolute;
  overflow: visible;
  width: 64px;
  height: 64px;
  left: 0px;
  top: 0px;
}
#Mask_Group_5_cp {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 16px;
  top: 16px;
  overflow: visible;
}
#Group_Name_cq {
  left: 24px;
  top: 162px;
  position: absolute;
  overflow: visible;
  width: 213px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#Lorem_ipsum_dolor_sit_amet_con_cr {
  left: 24px;
  top: 209px;
  position: absolute;
  overflow: visible;
  width: 431px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(118, 118, 118, 1);
}
#Group_9 {
  position: absolute;
  width: 515px;
  height: 320px;
  left: 1175px;
  top: 1605px;
  overflow: visible;
}
#Rectangle_101_ct {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(234, 234, 234, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_101_ct {
  position: absolute;
  overflow: visible;
  width: 512px;
  height: 320px;
  left: 0px;
  top: 0px;
}
#Ellipse_10_cu {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_cu {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 24px;
}
#Ellipse_10_cv {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_cv {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 56px;
  top: 24px;
}
#Ellipse_10_cw {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_cw {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 88px;
  top: 24px;
}
#Ellipse_10_cx {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_cx {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 120px;
  top: 24px;
}
#Ellipse_10_cy {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_cy {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 152px;
  top: 24px;
}
#More_Icon_cz {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 451px;
  top: 9px;
  overflow: visible;
}
#Ellipse_9_c {
  opacity: 0;
  filter: blur(30px);
  fill: rgba(255, 255, 255, 1);
}
.Ellipse_9_c {
  position: absolute;
  overflow: visible;
  width: 64px;
  height: 64px;
  left: 0px;
  top: 0px;
}
#Mask_Group_5_c {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 16px;
  top: 16px;
  overflow: visible;
}
#Group_Name_c {
  left: 24px;
  top: 162px;
  position: absolute;
  overflow: visible;
  width: 213px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#Lorem_ipsum_dolor_sit_amet_con_c {
  left: 24px;
  top: 209px;
  position: absolute;
  overflow: visible;
  width: 431px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(118, 118, 118, 1);
}
#Group_10 {
  position: absolute;
  width: 515px;
  height: 320px;
  left: 1722px;
  top: 1605px;
  overflow: visible;
}
#Rectangle_101_c {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(234, 234, 234, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_101_c {
  position: absolute;
  overflow: visible;
  width: 512px;
  height: 320px;
  left: 0px;
  top: 0px;
}
#Ellipse_10_c {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_c {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 24px;
}
#Ellipse_10_da {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_da {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 56px;
  top: 24px;
}
#Ellipse_10_db {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_db {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 88px;
  top: 24px;
}
#More_Icon_c {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 451px;
  top: 9px;
  overflow: visible;
}
#Ellipse_9_da {
  opacity: 0;
  filter: blur(30px);
  fill: rgba(255, 255, 255, 1);
}
.Ellipse_9_da {
  position: absolute;
  overflow: visible;
  width: 64px;
  height: 64px;
  left: 0px;
  top: 0px;
}
#Mask_Group_5_db {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 16px;
  top: 16px;
  overflow: visible;
}
#Group_Name_dc {
  left: 24px;
  top: 162px;
  position: absolute;
  overflow: visible;
  width: 213px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#Lorem_ipsum_dolor_sit_amet_con_dd {
  left: 24px;
  top: 209px;
  position: absolute;
  overflow: visible;
  width: 431px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(118, 118, 118, 1);
}
