.mediaViewInfo {
  --web-view-name: Spaces / Groups;
  --web-view-id: Spaces__Groups;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Spaces__Groups;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Spaces__Groups {
  position: absolute;
  width: 1920px;
  height: 3426px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: Spaces / Groups;
  --web-view-id: Spaces__Groups;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Rectangle_1_dg {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_1_dg {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 128px;
  left: 0px;
  top: 0px;
}
#Rectangle_2_dh {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_2_dh {
  position: absolute;
  overflow: visible;
  width: 1208px;
  height: 80px;
  left: 408px;
  top: 26px;
}
#amueso-v2_di {
  position: absolute;
  width: 170px;
  height: 64px;
  left: 80px;
  top: 33px;
  overflow: visible;
}
#profile-user_dj {
  position: absolute;
  width: 48px;
  height: 47.998px;
  left: 1792px;
  top: 41px;
  overflow: visible;
}
#Path_4_dk {
  fill: rgba(118, 118, 118, 1);
}
.Path_4_dk {
  overflow: visible;
  position: absolute;
  width: 48px;
  height: 47.998px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_99_dl {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_99_dl {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 1728px;
  top: 41px;
}
#Rectangle_100_dm {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_100_dm {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 1664px;
  top: 41px;
}
#Browse_dn {
  left: 266px;
  top: 51px;
  position: absolute;
  overflow: visible;
  width: 95px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Rectangle_3 {
  fill: rgba(189, 189, 189, 1);
}
.Rectangle_3 {
  position: absolute;
  overflow: visible;
  width: 1760px;
  height: 512px;
  left: 80px;
  top: 160px;
}
#Lorem_ipsum_dolor_sit_amet__co {
  left: 165px;
  top: 257px;
  position: absolute;
  overflow: visible;
  width: 723px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: rgba(56, 56, 56, 1);
}
#Lorem_ipsum_dolor_sit_amet_con_dq {
  left: 165px;
  top: 387px;
  position: absolute;
  overflow: visible;
  width: 852px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(118, 118, 118, 1);
}
#Rectangle_110 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_110 {
  position: absolute;
  overflow: visible;
  width: 302px;
  height: 75px;
  left: 165px;
  top: 535px;
}
#Explore_Groups {
  left: 220px;
  top: 558px;
  position: absolute;
  overflow: visible;
  width: 193px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Upcoming_live_stories {
  left: 80px;
  top: 1504px;
  position: absolute;
  overflow: visible;
  width: 545px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: rgba(56, 56, 56, 1);
}
#Rectangle_116 {
  fill: rgba(189, 189, 189, 1);
}
.Rectangle_116 {
  position: absolute;
  overflow: visible;
  width: 1761px;
  height: 222px;
  left: 79px;
  top: 1930px;
}
#Lorem_ipsum_dolor_sit_amet__co_dv {
  left: 143px;
  top: 1983px;
  position: absolute;
  overflow: visible;
  width: 723px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: rgba(56, 56, 56, 1);
}
#Rectangle_117 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_117 {
  position: absolute;
  overflow: visible;
  width: 348px;
  height: 80px;
  left: 1428px;
  top: 2001px;
}
#Create_a_space {
  left: 1510px;
  top: 2027px;
  position: absolute;
  overflow: visible;
  width: 185px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Read_stories_that_are_being_ho {
  left: 81px;
  top: 2280px;
  position: absolute;
  overflow: visible;
  width: 868px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: rgba(56, 56, 56, 1);
}
#IMG_20210311_140741_dz {
  fill: rgba(245, 245, 245, 1);
}
.IMG_20210311_140741_dz {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 82px;
  top: 2354px;
}
#IMG_20210311_140741_d {
  fill: rgba(245, 245, 245, 1);
}
.IMG_20210311_140741_d {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 82px;
  top: 2850px;
}
#WhatsApp_Image_2021-03-11_at_2_d {
  fill: rgba(245, 245, 245, 1);
}
.WhatsApp_Image_2021-03-11_at_2_d {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 441px;
  top: 2354px;
}
#WhatsApp_Image_2021-03-11_at_2_ea {
  fill: rgba(245, 245, 245, 1);
}
.WhatsApp_Image_2021-03-11_at_2_ea {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 441px;
  top: 2850px;
}
#IMG_20210311_133507_d {
  fill: rgba(245, 245, 245, 1);
}
.IMG_20210311_133507_d {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 800px;
  top: 2354px;
}
#IMG_20210311_133507_ea {
  fill: rgba(245, 245, 245, 1);
}
.IMG_20210311_133507_ea {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 800px;
  top: 2850px;
}
#Rectangle_7_d {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_7_d {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1159px;
  top: 2354px;
}
#Rectangle_108 {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_108 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1159px;
  top: 2850px;
}
#Rectangle_8_d {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_8_d {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1518px;
  top: 2354px;
}
#Rectangle_109 {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_109 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1518px;
  top: 2850px;
}
#Group_8_d {
  position: absolute;
  width: 568px;
  height: 320px;
  left: 80px;
  top: 704px;
  overflow: visible;
}
#Rectangle_101_ea {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(234, 234, 234, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_101_ea {
  position: absolute;
  overflow: visible;
  width: 565px;
  height: 320px;
  left: 0px;
  top: 0px;
}
#Ellipse_10_eb {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_eb {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 24px;
}
#Ellipse_10_ec {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_ec {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 56px;
  top: 24px;
}
#Ellipse_10_ed {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_ed {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 98px;
  top: 24px;
}
#More_Icon_ee {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 504px;
  top: 9px;
  overflow: visible;
}
#Ellipse_9_ef {
  opacity: 0;
  filter: blur(30px);
  fill: rgba(255, 255, 255, 1);
}
.Ellipse_9_ef {
  position: absolute;
  overflow: visible;
  width: 64px;
  height: 64px;
  left: 0px;
  top: 0px;
}
#Mask_Group_5_eg {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 16px;
  top: 16px;
  overflow: visible;
}
#Group_Name_eh {
  left: 24px;
  top: 162px;
  position: absolute;
  overflow: visible;
  width: 213px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#Lorem_ipsum_dolor_sit_amet_con_ei {
  left: 24px;
  top: 213px;
  position: absolute;
  overflow: visible;
  width: 360px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(118, 118, 118, 1);
}
#Group_14 {
  position: absolute;
  width: 568px;
  height: 320px;
  left: 80px;
  top: 1052px;
  overflow: visible;
}
#Rectangle_101_ek {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(234, 234, 234, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_101_ek {
  position: absolute;
  overflow: visible;
  width: 565px;
  height: 320px;
  left: 0px;
  top: 0px;
}
#Ellipse_10_el {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_el {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 24px;
}
#Ellipse_10_em {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_em {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 56px;
  top: 24px;
}
#Ellipse_10_en {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_en {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 98px;
  top: 24px;
}
#More_Icon_eo {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 504px;
  top: 9px;
  overflow: visible;
}
#Ellipse_9_ep {
  opacity: 0;
  filter: blur(30px);
  fill: rgba(255, 255, 255, 1);
}
.Ellipse_9_ep {
  position: absolute;
  overflow: visible;
  width: 64px;
  height: 64px;
  left: 0px;
  top: 0px;
}
#Mask_Group_5_eq {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 16px;
  top: 16px;
  overflow: visible;
}
#Group_Name_er {
  left: 24px;
  top: 162px;
  position: absolute;
  overflow: visible;
  width: 213px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#Lorem_ipsum_dolor_sit_amet_con_es {
  left: 24px;
  top: 213px;
  position: absolute;
  overflow: visible;
  width: 360px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(118, 118, 118, 1);
}
#Group_11 {
  position: absolute;
  width: 568px;
  height: 320px;
  left: 676px;
  top: 704px;
  overflow: visible;
}
#Rectangle_101_eu {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(234, 234, 234, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_101_eu {
  position: absolute;
  overflow: visible;
  width: 565px;
  height: 320px;
  left: 0px;
  top: 0px;
}
#Ellipse_10_ev {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_ev {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 24px;
}
#Ellipse_10_ew {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_ew {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 56px;
  top: 24px;
}
#Ellipse_10_ex {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_ex {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 98px;
  top: 24px;
}
#More_Icon_ey {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 504px;
  top: 9px;
  overflow: visible;
}
#Ellipse_9_ez {
  opacity: 0;
  filter: blur(30px);
  fill: rgba(255, 255, 255, 1);
}
.Ellipse_9_ez {
  position: absolute;
  overflow: visible;
  width: 64px;
  height: 64px;
  left: 0px;
  top: 0px;
}
#Mask_Group_5_e {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 16px;
  top: 16px;
  overflow: visible;
}
#Group_Name_e {
  left: 24px;
  top: 162px;
  position: absolute;
  overflow: visible;
  width: 213px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#Lorem_ipsum_dolor_sit_amet_con_e {
  left: 24px;
  top: 213px;
  position: absolute;
  overflow: visible;
  width: 360px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(118, 118, 118, 1);
}
#Group_15 {
  position: absolute;
  width: 568px;
  height: 320px;
  left: 676px;
  top: 1052px;
  overflow: visible;
}
#Rectangle_101_e {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(234, 234, 234, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_101_e {
  position: absolute;
  overflow: visible;
  width: 565px;
  height: 320px;
  left: 0px;
  top: 0px;
}
#Ellipse_10_e {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_e {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 24px;
}
#Ellipse_10_fa {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_fa {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 56px;
  top: 24px;
}
#Ellipse_10_fb {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_fb {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 98px;
  top: 24px;
}
#More_Icon_e {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 504px;
  top: 9px;
  overflow: visible;
}
#Ellipse_9_e {
  opacity: 0;
  filter: blur(30px);
  fill: rgba(255, 255, 255, 1);
}
.Ellipse_9_e {
  position: absolute;
  overflow: visible;
  width: 64px;
  height: 64px;
  left: 0px;
  top: 0px;
}
#Mask_Group_5_fa {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 16px;
  top: 16px;
  overflow: visible;
}
#Group_Name_fb {
  left: 24px;
  top: 162px;
  position: absolute;
  overflow: visible;
  width: 213px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#Lorem_ipsum_dolor_sit_amet_con_fc {
  left: 24px;
  top: 213px;
  position: absolute;
  overflow: visible;
  width: 360px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(118, 118, 118, 1);
}
#Group_12 {
  position: absolute;
  width: 568px;
  height: 320px;
  left: 1272px;
  top: 704px;
  overflow: visible;
}
#Rectangle_101_fe {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(234, 234, 234, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_101_fe {
  position: absolute;
  overflow: visible;
  width: 565px;
  height: 320px;
  left: 0px;
  top: 0px;
}
#Ellipse_10_ff {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_ff {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 24px;
}
#Ellipse_10_fg {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_fg {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 56px;
  top: 24px;
}
#Ellipse_10_fh {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_fh {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 98px;
  top: 24px;
}
#More_Icon_fi {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 504px;
  top: 9px;
  overflow: visible;
}
#Ellipse_9_fj {
  opacity: 0;
  filter: blur(30px);
  fill: rgba(255, 255, 255, 1);
}
.Ellipse_9_fj {
  position: absolute;
  overflow: visible;
  width: 64px;
  height: 64px;
  left: 0px;
  top: 0px;
}
#Mask_Group_5_fk {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 16px;
  top: 16px;
  overflow: visible;
}
#Group_Name_fl {
  left: 24px;
  top: 162px;
  position: absolute;
  overflow: visible;
  width: 213px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#Lorem_ipsum_dolor_sit_amet_con_fm {
  left: 24px;
  top: 213px;
  position: absolute;
  overflow: visible;
  width: 360px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(118, 118, 118, 1);
}
#Group_13 {
  position: absolute;
  width: 568px;
  height: 320px;
  left: 1272px;
  top: 1052px;
  overflow: visible;
}
#Rectangle_101_fo {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(234, 234, 234, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_101_fo {
  position: absolute;
  overflow: visible;
  width: 565px;
  height: 320px;
  left: 0px;
  top: 0px;
}
#Ellipse_10_fp {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_fp {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 24px;
}
#Ellipse_10_fq {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_fq {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 56px;
  top: 24px;
}
#Ellipse_10_fr {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_fr {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 98px;
  top: 24px;
}
#More_Icon_fs {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 504px;
  top: 9px;
  overflow: visible;
}
#Ellipse_9_ft {
  opacity: 0;
  filter: blur(30px);
  fill: rgba(255, 255, 255, 1);
}
.Ellipse_9_ft {
  position: absolute;
  overflow: visible;
  width: 64px;
  height: 64px;
  left: 0px;
  top: 0px;
}
#Mask_Group_5_fu {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 16px;
  top: 16px;
  overflow: visible;
}
#Group_Name_fv {
  left: 24px;
  top: 162px;
  position: absolute;
  overflow: visible;
  width: 213px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#Lorem_ipsum_dolor_sit_amet_con_fw {
  left: 24px;
  top: 213px;
  position: absolute;
  overflow: visible;
  width: 360px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(118, 118, 118, 1);
}
#Group_18 {
  position: absolute;
  width: 512px;
  height: 320px;
  left: 79px;
  top: 1578px;
  overflow: visible;
}
#Rectangle_101_fy {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_101_fy {
  position: absolute;
  overflow: visible;
  width: 512px;
  height: 320px;
  left: 0px;
  top: 0px;
}
#Mask_Group_6 {
  position: absolute;
  width: 512px;
  height: 320px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Story_Title {
  left: 24px;
  top: 24px;
  position: absolute;
  overflow: visible;
  width: 171px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#HOSTED_BY {
  left: 24px;
  top: 222px;
  position: absolute;
  overflow: visible;
  width: 85px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(189, 189, 189, 1);
}
#Ellipse_11 {
  fill: rgba(189, 189, 189, 1);
}
.Ellipse_11 {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 248px;
}
#Host_Name {
  left: 88px;
  top: 258px;
  position: absolute;
  overflow: visible;
  width: 141px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Expected_time {
  left: 24px;
  top: 71px;
  position: absolute;
  overflow: visible;
  width: 147px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(118, 118, 118, 1);
}
#Group_19 {
  position: absolute;
  width: 512px;
  height: 320px;
  left: 623px;
  top: 1578px;
  overflow: visible;
}
#Rectangle_101_f {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_101_f {
  position: absolute;
  overflow: visible;
  width: 512px;
  height: 320px;
  left: 0px;
  top: 0px;
}
#Mask_Group_6_f {
  position: absolute;
  width: 512px;
  height: 320px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Story_Title_f {
  left: 24px;
  top: 24px;
  position: absolute;
  overflow: visible;
  width: 171px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#HOSTED_BY_f {
  left: 24px;
  top: 222px;
  position: absolute;
  overflow: visible;
  width: 85px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(189, 189, 189, 1);
}
#Ellipse_11_ga {
  fill: rgba(189, 189, 189, 1);
}
.Ellipse_11_ga {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 248px;
}
#Host_Name_gb {
  left: 88px;
  top: 258px;
  position: absolute;
  overflow: visible;
  width: 141px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Expected_time_gc {
  left: 24px;
  top: 71px;
  position: absolute;
  overflow: visible;
  width: 147px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(118, 118, 118, 1);
}
#Group_20 {
  position: absolute;
  width: 512px;
  height: 320px;
  left: 1167px;
  top: 1578px;
  overflow: visible;
}
#Rectangle_101_ge {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_101_ge {
  position: absolute;
  overflow: visible;
  width: 512px;
  height: 320px;
  left: 0px;
  top: 0px;
}
#Mask_Group_6_gf {
  position: absolute;
  width: 512px;
  height: 320px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Story_Title_gg {
  left: 24px;
  top: 24px;
  position: absolute;
  overflow: visible;
  width: 171px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#HOSTED_BY_gh {
  left: 24px;
  top: 222px;
  position: absolute;
  overflow: visible;
  width: 85px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(189, 189, 189, 1);
}
#Ellipse_11_gi {
  fill: rgba(189, 189, 189, 1);
}
.Ellipse_11_gi {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 248px;
}
#Host_Name_gj {
  left: 88px;
  top: 258px;
  position: absolute;
  overflow: visible;
  width: 141px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Expected_time_gk {
  left: 24px;
  top: 71px;
  position: absolute;
  overflow: visible;
  width: 147px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(118, 118, 118, 1);
}
#Group_21 {
  position: absolute;
  width: 512px;
  height: 320px;
  left: 1711px;
  top: 1578px;
  overflow: visible;
}
#Rectangle_101_gm {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_101_gm {
  position: absolute;
  overflow: visible;
  width: 512px;
  height: 320px;
  left: 0px;
  top: 0px;
}
#Mask_Group_6_gn {
  position: absolute;
  width: 512px;
  height: 320px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Story_Title_go {
  left: 24px;
  top: 24px;
  position: absolute;
  overflow: visible;
  width: 171px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#HOSTED_BY_gp {
  left: 24px;
  top: 222px;
  position: absolute;
  overflow: visible;
  width: 85px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(189, 189, 189, 1);
}
#Ellipse_11_gq {
  fill: rgba(189, 189, 189, 1);
}
.Ellipse_11_gq {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 248px;
}
#Host_Name_gr {
  left: 88px;
  top: 258px;
  position: absolute;
  overflow: visible;
  width: 141px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Expected_time_gs {
  left: 24px;
  top: 71px;
  position: absolute;
  overflow: visible;
  width: 147px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(118, 118, 118, 1);
}
