.mediaViewInfo {
  --web-view-name: Storytime - Jessica Wright;
  --web-view-id: Storytime_-_Jessica_Wright;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Storytime_-_Jessica_Wright;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Storytime_-_Jessica_Wright {
  position: absolute;
  width: 1920px;
  height: 2769px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: Storytime - Jessica Wright;
  --web-view-id: Storytime_-_Jessica_Wright;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Rectangle_1 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_1 {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 128px;
  left: 0px;
  top: 0px;
}
#Rectangle_2 {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_2 {
  position: absolute;
  overflow: visible;
  width: 1208px;
  height: 80px;
  left: 408px;
  top: 26px;
}
#Top_picks_in_the_category {
  left: 80px;
  top: 1322px;
  position: absolute;
  overflow: visible;
  width: 635px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: rgba(56, 56, 56, 1);
}
#IMG_20210311_140741 {
  fill: rgba(245, 245, 245, 1);
}
.IMG_20210311_140741 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 81px;
  top: 1396px;
}
#IMG_20210311_140741_im {
  fill: rgba(245, 245, 245, 1);
}
.IMG_20210311_140741_im {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 81px;
  top: 1892px;
}
#WhatsApp_Image_2021-03-11_at_2 {
  fill: rgba(245, 245, 245, 1);
}
.WhatsApp_Image_2021-03-11_at_2 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 440px;
  top: 1396px;
}
#WhatsApp_Image_2021-03-11_at_2_io {
  fill: rgba(245, 245, 245, 1);
}
.WhatsApp_Image_2021-03-11_at_2_io {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 440px;
  top: 1892px;
}
#IMG_20210311_133507 {
  fill: rgba(245, 245, 245, 1);
}
.IMG_20210311_133507 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 799px;
  top: 1396px;
}
#IMG_20210311_133507_iq {
  fill: rgba(245, 245, 245, 1);
}
.IMG_20210311_133507_iq {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 799px;
  top: 1892px;
}
#Rectangle_7 {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_7 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1158px;
  top: 1396px;
}
#Rectangle_108 {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_108 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1158px;
  top: 1892px;
}
#Rectangle_8 {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_8 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1517px;
  top: 1396px;
}
#Rectangle_109 {
  fill: rgba(240, 240, 240, 1);
}
.Rectangle_109 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 448px;
  left: 1517px;
  top: 1892px;
}
#amueso-v2 {
  position: absolute;
  width: 170px;
  height: 64px;
  left: 80px;
  top: 33px;
  overflow: visible;
}
#profile-user {
  position: absolute;
  width: 48px;
  height: 47.998px;
  left: 1792px;
  top: 41px;
  overflow: visible;
}
#Path_4 {
  fill: rgba(118, 118, 118, 1);
}
.Path_4 {
  overflow: visible;
  position: absolute;
  width: 48px;
  height: 47.998px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_99 {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_99 {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 1728px;
  top: 41px;
}
#Rectangle_100 {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_100 {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 1664px;
  top: 41px;
}
#Browse {
  left: 266px;
  top: 51px;
  position: absolute;
  overflow: visible;
  width: 95px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
}
#Rectangle_3 {
  fill: rgba(245, 245, 245, 1);
}
.Rectangle_3 {
  position: absolute;
  overflow: visible;
  width: 1760px;
  height: 512px;
  left: 80px;
  top: 160px;
}
#Spaces_by_Jessica {
  left: 80px;
  top: 800px;
  position: absolute;
  overflow: visible;
  width: 446px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: rgba(56, 56, 56, 1);
}
#Group_11 {
  position: absolute;
  width: 568px;
  height: 320px;
  left: 80px;
  top: 874px;
  overflow: visible;
}
#Rectangle_101 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(234, 234, 234, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_101 {
  position: absolute;
  overflow: visible;
  width: 565px;
  height: 320px;
  left: 0px;
  top: 0px;
}
#Ellipse_10 {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10 {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 24px;
}
#Ellipse_10_i {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_i {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 56px;
  top: 24px;
}
#Ellipse_10_ja {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_ja {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 98px;
  top: 24px;
}
#More_Icon {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 504px;
  top: 9px;
  overflow: visible;
}
#Ellipse_9 {
  opacity: 0;
  filter: blur(30px);
  fill: rgba(255, 255, 255, 1);
}
.Ellipse_9 {
  position: absolute;
  overflow: visible;
  width: 64px;
  height: 64px;
  left: 0px;
  top: 0px;
}
#Mask_Group_5 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 16px;
  top: 16px;
  overflow: visible;
}
#Group_Name {
  left: 24px;
  top: 162px;
  position: absolute;
  overflow: visible;
  width: 213px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#Lorem_ipsum_dolor_sit_amet_con {
  left: 24px;
  top: 213px;
  position: absolute;
  overflow: visible;
  width: 360px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(118, 118, 118, 1);
}
#Group_9 {
  position: absolute;
  width: 568px;
  height: 320px;
  left: 680px;
  top: 874px;
  overflow: visible;
}
#Rectangle_101_je {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(234, 234, 234, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_101_je {
  position: absolute;
  overflow: visible;
  width: 565px;
  height: 320px;
  left: 0px;
  top: 0px;
}
#Ellipse_10_jf {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_jf {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 24px;
}
#Ellipse_10_jg {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_jg {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 56px;
  top: 24px;
}
#Ellipse_10_jh {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_jh {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 98px;
  top: 24px;
}
#Ellipse_10_ji {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_ji {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 134px;
  top: 24px;
}
#Ellipse_10_jj {
  fill: rgba(189, 189, 189, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_10_jj {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 169px;
  top: 24px;
}
#More_Icon_jk {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 504px;
  top: 9px;
  overflow: visible;
}
#Ellipse_9_jl {
  opacity: 0;
  filter: blur(30px);
  fill: rgba(255, 255, 255, 1);
}
.Ellipse_9_jl {
  position: absolute;
  overflow: visible;
  width: 64px;
  height: 64px;
  left: 0px;
  top: 0px;
}
#Mask_Group_5_jm {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 16px;
  top: 16px;
  overflow: visible;
}
#Group_Name_jn {
  left: 24px;
  top: 162px;
  position: absolute;
  overflow: visible;
  width: 213px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(56, 56, 56, 1);
}
#Lorem_ipsum_dolor_sit_amet_con_jo {
  left: 24px;
  top: 209px;
  position: absolute;
  overflow: visible;
  width: 431px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(118, 118, 118, 1);
}
