@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");



body {
  font-family: "Poppins", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

a {
  color: gray;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
}
a:hover,
button:hover {
  color: #000;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: gray;
  transition: all 0.3s ease-in;
}

p {
  font-size: 0.7rem;
}

input {
  padding: 10px 15px;
  border: 1px solid lightgray;
  border-radius: 10px;
  outline: none;
}

.navbar {
  padding: 0 40px;
}

.navbar button.user {
  font-size: 2rem;
}

.navbar input {
  width: 400px;
  font-size: 1rem;
}

.landing .head,
div.main,
.hosting,
.spaces,
.story-double,
.story-single {
  padding: 50px 100px;
}

.btn-green {
  padding: 10px 25px;
  color: #17d09e;
  border: 3px solid #17d09e;
  border-radius: 10px;
}

div.absolute {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1000;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
  top: 0;
  left: 0;
}

img.avatar {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover;
  border-radius: 50px !important;
}

div.absolute .absolute-content {
  width: 50%;
  height: 100%;
  max-height: 80vh;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 5px;
  margin: 50px auto;
  padding: 20px;
  position: relative;
}

button.absolute-close {
  color: red;
  border: none;
  padding: 10px 15px;
  font-size: 1.2rem;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

button.absolute-close:hover {
  color: #bd3922;
}

.landing .head button {
  font-size: 1.3rem;
}

.login hr {
  width: 100%;
}

.main .ad .item {
  width: 30%;
}

.main .ad .item img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.book,
.group,
.stories {
  overflow-x: auto;
}

.book .item {
  margin-right: 20px;
}

.book .item img {
  height: 300px;
  width: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.group .item {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.group .item img {
  margin-left: 200px;
  width: 20px;
}

.hosting img {
  width: 100%;
  border-radius: 10px;
}

.hosting img.cover {
  width: 40%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.hosting h6 {
  color: gray;
}

.hosting .responses .item {
  padding: 0 20px;
  width: 30%;
}

.stories .item {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.stories .item h5 {
  margin-right: 200px;
  width: 100%;
}

.spaces .head {
  background-color: #bdbdbd;
  padding: 30px;
  border-radius: 10px;
}

.story-double .page,
.story-single .page {
  width: 50%;
}

.story-double .page:first-of-type {
  border-radius: 10px 0 0 10px;
}

.story-double .page:last-of-type {
  border-radius: 0 10px 10px 0;
}

.story-single .page img {
  width: 100%;
  object-fit: cover;
  border: 2px solid lightgray;
}

img.landing-books {
  width: 100%;
}

img.contribute {
  width: 100%;
  padding: 50px;
}

img.logo {
  width: 200px;
}

.main select {
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.create-space {
  background-color: #bdbdbd;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .create-space h3 {
  width: 300px;
} */

.create-space button {
  height: 40px;
}

button.btn-purple {
  background-color: #33336c;
  border: 1px solid #33336c;
}

button.btn-purple:hover {
  border: 1px solid #222248;
  background-color: #222248;
}

button.btn-green {
  background-color: #38bb8f;
  border: 1px solid #38bb8f;
  color: white;
}

button.btn-green:hover {
  border: 1px solid #257c5f;
  background-color: #257c5f;
}

button.btn-gray {
  background-color: #D4D4D4;
  padding: 0 20px;
  height: 30px;
}

button.btn-gray:hover {
  background-color: #8D8D8D;
}

.write-story {
  width: 80%;
}

.write-story h1,
.write-story label {
  text-transform: uppercase;
  color: #33336c;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

.write-story form span {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.write-story input,
.write-story label.file,
.write-story select {
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
}

.write-story label {
  font-size: 18px;
  text-align: left;
  margin: 10px 0;
}

.write-story label.file,
.write-story select {
  display: flex;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
  text-transform: none;
  color: #000;
  font-weight: 100;
  outline: none;
}

.write-story label.file p {
  font-size: 16px;
  margin: 0 15px;
}

.write-story label.file button {
  background-color: #33336c;
  color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
}

.write-story .story {
  background-color: #eeeeee;
  height: 280px;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.write-story button.add-chapter {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: #eee;
  color: #222248;
  border-radius: 5px;
}

.write-story textarea {
  height: 85%;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  border-radius: 20px;
  overflow-y: auto;
  padding: 10px;
}

.write-story label.file {
  background-color: #eee;
  border: none;
}

.proof-read {
  font-family: "Times New Roman", Times, serif;
}

.proof-read .head {
  background-color: #33336c;
  padding: 10px 0;
  color: #fff;
  text-align: center;
}

.proof-read .head h1 {
  font-weight: 100;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
}

.proof-read .head p {
  font-size: 1rem;
}

.proof-read h1 {
  text-transform: capitalize;
  text-align: center;
  font-style: italic;
  margin: 10px 0;
}

.proof-read h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
}

.proof-read .content {
  padding: 0 50px;
}

.proof-read h2 {
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 20px;
}

.proof-read p {
  font-size: 1.2rem;
}

.group .cover {
  background-color: #33336c;
  height: 30vh;
  position: relative;
  z-index: 1;
}

.group .cover button {
  position: absolute;
  top: 40%;
  left: 45%;
  width: 200px;
  background-color: #5C5C81;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 5px 0;
  color: #fff;
}

.group .cover button:hover {
  background-color: #222248;
}

.group .info {
  background-color: #EEEEEE;
  margin: -50px 100px 0;
  z-index: 2;
  position: relative;
  border-radius: 20px;
  padding: 20px 20px 0;
}

.group .info h1,
.group .discussion h1 {
  color: #33336c;
  text-transform: uppercase;
  font-size: 24px;
}

.group .nav button.selected {
  border-bottom: 3px solid #33336c;
  color: #000;
  transition: none;
}

.group .about {
  padding: 30px 100px;
}

.group .discussion {
  background-color: #eee;
  margin: 30px 100px;
  padding: 20px;
  border-radius: 20px;
}

.group .about p {
  font-size: 16px;
}

.group img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 10px;
}

.group .discussion h2 {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.group .discussion h3 {
  font-size: 1rem;
}

.group .discussion h3 span {
  font-size: 0.8rem;
  color: #9B9B9B;
  font-weight: 100;
}

.group .members {
  width: 500px;
  background-color: #eee;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
}

.group .members h1 {
  font-size: 18px;
  color: #33336c;
}

.group .members h2 {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.group .members hr {
  margin: 0 0 10px;
}

.group .members p {
  color: #9B9B9B;
  font-size: 10px;
}

.invite {
  width: 500px !important;
  border-radius: 20px !important;
}

.invite h1 {
  font-size: 20px;
  text-align: center;
}

.invite h2 {
  font-size: 1rem;
  margin: 0;
}